<template name="home">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"></h1>
	{{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear settings"><i class="fa fa-gear"></i></button>
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="homeScreen"}}
    	<div class="">
        <img src="/images/image_home.png" style="margin-bottom: -5px;">
      </div>
      <div>
        {{#ionList}}
          {{#each menulist}}
              {{> singleMenuItem}}
          {{/each}}
        {{/ionList}}
      </div>
    	{{/ionContent}}


  {{/ionView}}

</template>

<template name="singleMenuItem">
    {{#ionItem href=path}}
      <div class="item-icon-left">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
        </span>
      
      {{label}}
      </div>
    {{/ionItem}}
</template>