<template name="home">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"></h1>
	{{/contentFor}}
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear settings"><i class="fa fa-gear"></i></button>
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="homeScreen"}}
    	<div class="">
        <img src="/images/image_home.png" style="margin-bottom: -5px;">
      </div>
      <div>
        {{#ionList}}
          {{#each menulist}}
              {{> singleMenuItem}}
          {{/each}}
        {{/ionList}}
      </div>
    	{{/ionContent}}


  {{/ionView}}

</template>

<template name="singleMenuItem">
    {{#ionItem href=path}}
      <div class="item-icon-left">
      <i class="fa {{icon}}"></i>
      {{label}}
      </div>
    {{/ionItem}}
</template>