<template name="editNewsItem">
  {{#ionModal title="Edit Post"}}
        {{#ionList class="my-class"}}
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
      <textarea type="text" rows="4" placeholder="post" name="postText" id="postText" style="background-color: transparent;">{{postText}}</textarea>
    </label>
<button class="button button-clear button-small picture"><i class="fa fa-camera fa-2x"></i></button>    </div>
        {{/ionList}}
          <div class="block-button padding">
            <button class="button button-light button-block save">Save Post</button>
          </div>
  {{/ionModal}}
</template>