<template name="viewPost">
  {{#ionModal title="Comments"}}
    <div class="content padding">
  {{#if postText}}
  <a class="item " href="#">
    <p>{{postText}}</p>
  </a>
  {{/if}}
  {{#if attachment}}
  <div class="item item-image">
    <img src="{{attachment}}">
  </div>
  {{/if}}
    </div>
      {{#ionList class="my-post"}}
        {{#each comments}}
          <div class="item">{{commentText}}</div>
        {{/each}}
      {{/ionList}}
<div class="bar bar-footer">
        <div class="item-input-inset" style="width: 100%">
          <label class="item-input-wrapper">
      <input type="text" rows="4" placeholder="Comment" name="commentText" id="commentText">
    </label>
<button class="button button-clear button-small saveComment">Post</button>    </div>
</div>
  {{/ionModal}}
</template>