<template name="children">
  {{#contentFor "headerTitle"}}
  	<h1 class="title"><img src="/images/shared_care_logo.png"></h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}
        <img src="/images/image_register2.png" style="margin-bottom: -5px;">
    	<div class="item add-item addNew" data-ion-modal="_addKid">
    	 <i class="fa fa-plus-circle fa-2x"></i><br><span class="addText">Add Child</span>
    	</div>
      {{#ionList}}
        {{#each children}}
          {{#ionItem route="editKid" buttonRight=true avatar=true class="item-icon-right"}}
            <img src="{{avatarUrl}}">
            {{firstName}} {{lastName}}
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

{{#ionFooterBar}}
      <div style="text-align:center; width: 100%;"><a href="/" class="button button-clear">Continue</a></div>
{{/ionFooterBar}}
</template>