<template name="editKid">
  <h1>Vikas</h1>
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton route="children" text="Children"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit Child</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="padding kid-detail"}}
          <label class="item item-input">
            <span class="input-label">First Name</span>
            <input type="text" id="firstName" value="{{kid.firstName}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" id="lastName" value="{{kid.lastName}}">
          </label>
          <label class="item item-input">
            <span class="input-label">Birthday</span>
            <input type="date" id="birthday" value="{{kid.birthday}}">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">They're a</span>
            <select id="gender">
               <option value="boy">BOY</option>
               <option value="girl">GIRL</option>
            </select>
          </label>
          <div class="block-button">
            <button class="button button-assertive button-block save">Save</button>
            <button class="button button-assertive button-block delete">Delete</button>
          </div>
    {{/ionContent}}
  {{/ionView}}
</template>
