<template name="addExpense">
  {{#ionModal title="Add Expense"}}
    <div class="padding">
        {{#ionList class="my-class"}}
          <label class="item item-input">
            <span class="input-label">Amount</span>
            <i class="icon placeholder-icon">$</i>
            <input type="number" id="amount">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Note</span>
            <input type="text" id="note">
          </label>
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date" id="date">
          </label>
          <label class="item item-input">
            <span class="input-label">Picture of receipt</span>
          <button class="button button-clear button-small picture"><i class="fa fa-camera fa-2x"></i></button>
          </label>
        {{/ionList}}
        {{#if photo}}
          <div>
            <img src={{photo}} />
          </div>
        {{/if}}
          <div class="block-button">
            <button class="button button-light button-block save">Save Expense</button>
          </div>
    </div>
  {{/ionModal}}
</template>