<template name="expenses">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"><img src="/images/shared_care_logo.png"></h1>
	{{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> homeButton}}
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="expenseScreen"}}
      <div class="">
    	<div class="item add-item addNew">
    	 <i class="fa fa-plus-circle fa-2x"></i>
    	</div>
    {{# if expenseList}}
  {{#ionList class="my-expenses"}}
    {{#each expenseList}}
    {{# if datelabel}}
    <div class="item item-divider">{{datelabel}}</div>
    {{else}}
        {{> singleExpenseItem}}
    {{/if}}
    {{/each}}
  {{/ionList}}
    {{else}}
      <div class="noExpenses">No expenses have been entered yet<br><a href="#" class="addNew">Enter your first expense record</a></div>
    {{/if}}
    </div>
    	{{/ionContent}}


  {{/ionView}}

</template>

<template name="singleExpenseItem">
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{avatarUrlWithUserId userId}}">
        <h3>{{userName userId}}</h3>
      </div>
      <div class="item">
      {{note}} for {{child_name}}
      <span class="item-note">$ {{amount}}</span>
      </div>
      <a class="item card-footer" href="#">
        <span class="item-note edit-post">
          {{#if isAttachment attachment}}
          <button class="item-note button button-clear button-small viewAttachment"><i class="fa fa-camera fa-2x"></i></button>
          {{/if}}
        </span>
      </a>
    </div>
</template>