<template name="expenses">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"></h1>
	{{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> homeButton}}
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="expenseScreen"}}
      <div class="">
    	<div class="item add-item addNew">
    	 <i class="fa fa-plus-circle fa-2x"></i>
    	</div>
    {{# if expenseList}}
  {{#ionList class="my-expenses"}}
    {{#each expenseList}}
    {{# if datelabel}}
    <div class="item item-divider">{{datelabel}}</div>
    {{else}}
        {{> singleExpenseItem}}
    {{/if}}
    {{/each}}
  {{/ionList}}
    {{else}}
      <div class="noExpenses">No expenses have been entered yet<br><a href="#" class="addNew">Enter your first expense record</a></div>
    {{/if}}
    </div>
    	{{/ionContent}}


  {{/ionView}}

</template>

<template name="singleExpenseItem">
    {{#ionItem}}
      <div class="expenseItem">
      {{note}}
      <span class="item-note">$ {{amount}}</span>
      </div>
      {{#if isAttachment attachment}}
          <button class="item-note button button-clear button-small viewAttachment"><i class="fa fa-camera fa-2x"></i></button>
      {{/if}}
      {{/ionItem}}
</template>