<template name="expenses">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"></h1>
	{{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> homeButton}}
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="expenseScreen"}}
      <div class="">
    {{# if expenseList}}
  {{#ionList class="my-expenses"}}
    	<div class="item">
    	 <div class="addNew"><i class="fa fa-plus"></i> Add expense</div>
    	</div>
    {{#each expenseList}}
    {{# if datelabel}}
    <div class="item item-divider">{{datelabel}}</div>
    {{else}}
        {{> singleExpenseItem}}
    {{/if}}
    {{/each}}
  {{/ionList}}
    {{else}}
      <div class="noExpenses">No expenses have been entered yet<br><a href="#" class="addNew">Enter your first expense record</a></div>
    {{/if}}
    </div>
    	{{/ionContent}}


  {{/ionView}}

</template>

<template name="singleExpenseItem">
    {{#ionItem}}
      <div class="expenseItem">
      {{note}}
      <span class="item-note">$ {{amount}}</span>
      </div>
    {{/ionItem}}
</template>