<template name="managegroup">
	{{#contentFor "headerTitle"}}
  	<h1 class="title"></h1>
	{{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{> homeButton}}
  {{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="groupScreen"}}
      {{#each data}}
      {{#if isGroupAdmin groupOwnerId}}
    	<div class="">
        <button class="button button-clear" data-ion-modal="_addGroupMember">{{> ionIcon icon="ios-plus-empty"}} Add New</button>
      </div>
      {{/if}}
      <br/>
      <div class="">
            {{#ionList}}
                {{#each members}}
                  {{#ionItem route="editKid" buttonRight=true avatar=true class="item-icon-right"}}
                    <img src="{{avatarUrl}}">
                    <h2>{{name}} ({{uppercase relationship}})</h2>
                    <p>{{checkInvitationStatus invitationStatus}}</p>
                  {{/ionItem}}
                {{/each}}
            {{/ionList}}
        </div>
        {{/each}}
    	{{/ionContent}}


  {{/ionView}}

</template>
