<template name="login">
	{{#contentFor "headerTitle"}}
  	<h1 class="title">LOGIN</h1>
	{{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="loginScreen"}}
    	<div class="">
        Shared Care image
      </div>
      <div class="">
        {{#if currentUser}}
          <div class="padding">
            <button class="button button-positive button-block" data-action="logout">Log Out</button>
          </div>
        {{else}}
          {{> atForm}}
        {{/if}}
      </div>
    	{{/ionContent}}
  {{/ionView}}
</template>

<template name="signup">
	{{#contentFor "headerTitle"}}
  	<h1 class="title">SIGN UP</h1>
	{{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="signupScreen"}}
    	<div class="">
        Shared Care image
      </div>
      <div class="">

      </div>
    	{{/ionContent}}
  {{/ionView}}
</template>