<template name="login">
	{{#contentFor "headerTitle"}}
  	<h1 class="title">LOGIN</h1>
	{{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="loginScreen"}}
    	<div class="">
        Shared Care image
      </div>
      <div class="">
        {{#if currentUser}}
          <div class="padding">
            <button class="button button-positive button-block" data-action="logout">Log Out</button>
          </div>
        {{else}}
          {{> atForm}}
        {{/if}}
      </div>
    	{{/ionContent}}
  {{/ionView}}
</template>

<template name="signup">
	{{#contentFor "headerTitle"}}
  	<h1 class="title">SIGN UP</h1>
	{{/contentFor}}

	{{#ionView}}
    	{{#ionContent class="signupScreen"}}
    	<div class="">
        Shared Care image
      </div>
      <div class="">
      <form id="register_form" class="account-form" role="form">
        <input id="register_name" type="text" class="form-control" placeholder="Your full name" required autofocus>
        <input id="register_email" type="text" class="form-control" placeholder="Email address" required>
        <input id="register_password" type="password" class="form-control" placeholder="Password" required>
        <input id="confirm_register_password" type="password" class="form-control" placeholder="Confirm Password" required>
        <button class="btn btn-info btn-block" type="submit" data-loading-text="Please wait...">
          Register
        </button>
        <p class="account-form-text-after">
          Already a member?
          <a href="{{pathFor 'login'}}">
            Sign in here
          </a>
        </p>
      </form>
      </div>
    	{{/ionContent}}
  {{/ionView}}
</template>